{{app}}
<div class="position-absolute top-50 start-50 translate-middle p-5 rounded-4 shadow bg-white">
  <header class="text-center">
    <i class="bi bi-check-circle-fill fa-4x text-success" style="font-size: 3rem;"></i>
    <h1 class="fs-3">Enviado com sucesso!</h1>
  </header>
  <section class="mt-5 mb-4" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Adicione sua imagem">
    <img class="img-fluid rounded-4" height="88" src="../../../shared/imageExemple.jpg" alt="imagem realizada upload">
  </section>
  <section class="d-flex align-items-center justify-content-between border border-secondary-subtle rounded-3">
    <a class="mx-3" href="#/" class="link-dark">https://getbootstrap.com/docs/</a>
    <button class="btn btn-primary">Copie o Link</button>
  </section>
</div>