{{app}}
<div class="position-absolute top-50 start-50 translate-middle p-5 rounded-4 shadow bg-white">
  <header class="text-center">
    <h1 class="fs-3">Envie sua imagem</h1>
    <span class="text-muted">O arquivo deve ser JPEG, PNG,...</span>
  </header>
  <section class="d-flex flex-column border-dotted rounded-3 p-5 mt-5 mb-4" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Adicione sua imagem">
    <img class="mb-4" height="88" src="src/image/image.svg" alt="imagem simbolica para upload">
    <span class="text-body-tertiary ">Arraste e solte sua imagem aqui</span>
  </section>
  <section class="d-flex flex-column align-items-center">
    <span>Ou</span>
    <button class="btn btn-primary mt-4">Escolha um arquivo</button>
  </section>
</div>